<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: white;" >Welcome&nbsp;{{item.name}} ({{item.Pno}}) </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
          <!-- <a class="nav-link" href="RequestTraining" style="color: white;">Request Training</a>
          <a class="nav-link" href="EmpviewReport" style="color: white;">Training Report</a> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="color: white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recharges
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="Phone">Phone Recharge</a>
              <a class="dropdown-item" href="Data">Data Plan</a>
              <a class="dropdown-item" href="Roaming">Roaming Plan</a>
              <a class="dropdown-item" href="Inter">International</a>
              
            </div>
          </li>
          <!-- <a class="nav-link" href="#">Request Status</a> -->
          <a class="nav-link" href="" style="color: white; position: relative;left: 450%;">Log Out</a>

        </div>
      </div>
    </div>
  </nav>

